
/*------------
Grid
-------------*/
*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      -box-sizing: border-box;
}
/*header*/
.nav li a{
	text-align: center;
	display: block;
	color: #fff;
	padding: 8px 0px 8px 16px;
}
.nav ul li{
	display: inline-block;
	text-decoration: none;
	text-align: center;

}
.nav ul li a{
	text-decoration: none;
	text-align: center-top;
	
}
header{
	background-color: #130a0a;
}
/*hero*/
.hero{
	background-color: #130a0a;
	padding: 150px 60px 150px 60px;
}
.hero h1{
	text-align: center;
	font-size: 50px;
	color: #fff;
	padding-bottom: 15px;
}
.hero p{
	color:  #999999;
	padding-bottom: 15px;
	text-align: center;
	font-size: 15px;
}

.btn{
	border: 1px solid white;
	background-color: white;
	color: #666;
	text-decoration: none;
	padding: 10px;
}
/*Projects*/
.col-1-3{
	width: 50%;
}
.col-1-3 .projects{
	padding: 50px 50px 70px 150px;
}
.col-1-3 .projects p{
	font-size: 15px;
	color: #595959;
	padding-bottom: 20px;
}
.col-1-3 .projects h4{
	font-size: 35px;
	font-family: 'Cairo', sans-serif;
}
/*footer*/

footer{
	text-decoration: none;
}
/*.primary-footer .s1{
	text-align: left;
}
.primary-footer .s2{
	text-align: right;
}

/*Stay cconnected*/

/*.stay{
	background-color: #f2f2f2;
}
.stay .col{
	padding: 60px 950px 0 100px;
}*/

/*table*/
form,
fieldset,
label,
input{
	display: inline-block;
}
.social #fb:hover{
	color: #004080;
}
.social #twiter:hover{
	 color: #0099e6;
}
.social #google:hover{
	color:  #b32d00;
}
.social #pine:hover{
	color: #ff4d4d;
}



/*media querries*/

/*potrait and landscape phone*/

@media (max-width: 480px){

}

/*Landscape phone to potrait tablet*/

@media (max-width: 768px){

}

/*Large desktop*/

@media (max-width: 1200px){

}