
/*------------
Grid
-------------*/
*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      -box-sizing: border-box;
}
/*header*/
.nav li a{
	text-align: center;
	display: block;
	color: #fff;
	padding: 8px 0px 8px 16px;
}
.nav ul li{
	display: inline-block;
	text-decoration: none;
	text-align: center;

}
.nav ul li a{
	text-decoration: none;
	text-align: center-top;
	
}
header{
	background-color: #130a0a;
}
/*hero*/
.hero{
	background-color: #130a0a;
	padding: 150px 60px 150px 60px;
}
.hero h1{
	text-align: center;
	font-size: 50px;
	color: #fff;
	padding-bottom: 15px;
}
.hero p{
	color:  #999999;
	padding-bottom: 15px;
	text-align: center;
	font-size: 15px;
}

.btn{
	margin-left: 520px;
	border: 1px solid white;
	background-color: white;
	color: #666;
	text-decoration: none;
	padding: 10px;
}
/*Projects*/
.col-1-3{
	width: 50%;
	display: inline-block;
}
.col-1-3 .projects{
	padding: 50px 50px 70px 150px;
}
.col-1-3 .projects p{
	font-size: 15px;
	color: #595959;
	padding-bottom: 20px;
}
.col-1-3 .projects h4{
	font-size: 35px;
	font-family: 'Cairo', sans-serif;
}
.featured{
	background-color:  #ff5050;
	float: right;
	padding: 300px 250px 147px 50px;
}
.featured h6{
	color:   #ffe6e6;
	font-family: 'Cairo', sans-serif;
	font-size: 18px;
	padding-bottom: 10px;
}
.featured p{
	color:  #ffe6e6;
	font-size: 12px;
}
.featured h2{
	font-size: 25px;
	color: #fff;
	padding-bottom: 10px;
}
.col-1-3 .empty{
	background-color: #130a0a;
	padding: 90px;
}
.col-1-3 .btn-2{
	padding: 20px 70px 35px 150px;
}
.btn-2 .btn-alt{
	border: 1px solid #ff4d4d;
	padding: 7px 10px;
	color: #f2f2f2;
	background-color:  #ff5050;
	text-decoration: none; 
}
.btn-2{
	background-color: #f2f2f2;
	font-size: 10px;
}
.btn-2 p{
	padding: 20px 40px 15px 0;
}

/*History section*/
.history h3{
	font-size: 30px;
	color: #333333;
	padding: 60px 40px 20px 150px;
	font-family: 'Cairo', sans-serif;
}
.history p{
	padding: 7px 3px 3px 150px;
}

.three-img{
	clear: both;
}
.hist{
	float: right;
}
.history .big-logo{
	float: right;
	padding-right: 40px 10px 25px 700px;
	width: 200px;
	height: 500px;
	position: relative;

}
.three-img{
	padding: 40px 100px 40px 300px;
}
.width{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}
.width h1{
	padding-bottom: 5px;
	color: red;
	font-size: 25px;
}
.width p{
	padding:5px;
	font-size: 10px;
}
.services{
	background-color:  #f2f2f2;
	padding: 30px 150px 30px 150px;
}
.services h1{
	font-size: 40px;
	font-family: 'Cairo', sans-serif;
	color:  #1a1a1a;
	padding-bottom: 20px; 
}
.services-1{
	width: 30%;
	display: inline-block;
	vertical-align: top;text-align: center;
	line-height: 19px;
}
.services-1 h3{
	padding: 15px;
	color: #404040;
	font-family: 'Cairo', sans-serif;
}
.services-1 p{
	font-size: 13px;
	color: #999999;
}
.services-1 a{
	margin-top: 10px;
}
.color{
	padding: 40px 100px;
	text-align: center;
	line-height: 18px;
	background-color: #130a0a;
}
.color h3{
	font-family: 'Cairo', sans-serif;
	font-size: 16px;
	color: #bfbfbf;
}
.color p{
	color: #404040;
	font-size: 13px;
}
.color .c-border{
	border-bottom: 2px solid white;
	color: #808080;
}

/*Journal*/
.journal{
	padding: 60px 150px 60px 150px;
	line-height: 20px;
}
.journal h4{
	font-family: 'Cairo', sans-serif;
	font-size: 30px;
	color:  #1a1a1a;
}

/*.width{
	width: 30%;
}*/
/*footer*/

footer{
	text-decoration: none;
}
/*.primary-footer .s1{
	text-align: left;
}
.primary-footer .s2{
	text-align: right;
}

/*Stay cconnected*/

/*.stay{
	background-color: #f2f2f2;
}
.stay .col{
	padding: 60px 950px 0 100px;
}*/

/*table*/
form,
fieldset,
label,
input{
	display: inline-block;
}
.social #fb:hover{
	color: #004080;
}
.social #twiter:hover{
	 color: #0099e6;
}
.social #google:hover{
	color:  #b32d00;
}
.social #pine:hover{
	color: #ff4d4d;
}



/*media querries*/

/*potrait and landscape phone*/

@media (max-width: 480px){

}

/*Landscape phone to potrait tablet*/

@media (max-width: 768px){

}

/*Large desktop*/

@media (max-width: 1200px){

}